<div class="container">
  <button mat-raised-button color="primary" class="logout-button" (click)="logout()">
    <mat-icon>logout</mat-icon>
    logout
  </button>
  <mat-card class="user-form-card">
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="loading" class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>

      <form [formGroup]="userForm" (ngSubmit)="updatePassword()" *ngIf="!loading">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="User name" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="User email" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Role</mat-label>
          <input matInput formControlName="role" placeholder="User role" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="password" placeholder="User new password" type="password">
          <mat-error *ngIf="userForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>

        <div class="button-container">
          <button type="button" mat-button [routerLink]="['/categories']">Cancel</button>
          <button type="submit" mat-raised-button color="primary" [disabled]="userForm.invalid">
            Update Password
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
