<div class="container">
  <button mat-raised-button color="primary" class="logout-button" (click)="logout()">
    <mat-icon>logout</mat-icon>
    logout
  </button>
  <mat-card class="user-form-card">
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="loading" class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>

      <form [formGroup]="userForm" (ngSubmit)="updatePassword()" *ngIf="!loading">

        <app-form-field label="Name" formControlName="name" placeholder="User name" type="text" [readonly]="true">
        </app-form-field>

        <app-form-field label="Email" formControlName="email" placeholder="User email" type="email" [readonly]="true">
        </app-form-field>

        <app-form-field label="Role" formControlName="role" placeholder="User role" type="text" [readonly]="true">
        </app-form-field>

        <app-form-field label="New Password" formControlName="password" placeholder="User new password" type="password">
        </app-form-field>
        <mat-error *ngIf="userForm.get('password')?.touched && userForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>

        <div class="button-container">
          <button type="submit" mat-raised-button color="primary" [disabled]="userForm.invalid">
            Update Password
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
