<mat-form-field appearance="outline" class="full-width">
  <mat-label>{{label}}</mat-label>
  @if (type !== 'textarea') {
    <input
      matInput
      [value]="value"
      (input)="handleInput($event)"
      [disabled]="disabled"
      [placeholder]="placeholder"
      (blur)="onTouched()"
      [type]="type"
      [attr.required]="required"
      [attr.maxlength]="maxlength"
      min="{{min}}"
      step="0.01"
      readonly="{{readonly}}">
  } @else {
    <textarea
      matInput
      [value]="value"
      (input)="handleInput($event)"
      [disabled]="disabled"
      [placeholder]="placeholder"
      (blur)="onTouched()"
      rows="4"
      [attr.required]="required"
      [attr.maxlength]="maxlength"
      readonly="{{readonly}}"
    ></textarea>
    @if(maxlength) {
      <p class="hint">{{ value.length || 0 }}/{{ maxlength }}</p>
    }
  }
</mat-form-field>
