<div class="container">
  <mat-card class="user-form-card">
    <mat-tab-group>
      <mat-tab label="Login">
        <mat-card-content>
          <div *ngIf="loading" class="loading-spinner">
            <mat-spinner></mat-spinner>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="!loading">
            <app-form-field label="Email" formControlName="email" placeholder="User email" type="email">
            </app-form-field>
            <mat-error *ngIf="loginControl('email').touched && loginControl('email').hasError('required')">
              Email is required
            </mat-error>

            <app-form-field label="Password" formControlName="password" placeholder="User password" type="password">
            </app-form-field>
            <mat-error *ngIf="loginControl('password').touched && loginControl('password').hasError('required')">
              Password is required
            </mat-error>


            <div class="button-container">
              <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">
                Login
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-tab>

      <mat-tab label="Sign up">
        <mat-card-content>
          <div *ngIf="loading" class="loading-spinner">
            <mat-spinner></mat-spinner>
          </div>

          <form [formGroup]="registerForm" (ngSubmit)="register()" *ngIf="!loading">

            <app-form-field label="Name" formControlName="name" placeholder="User name" type="text">
            </app-form-field>
            <mat-error *ngIf="registerControl('name').touched && registerControl('name').hasError('required')">
              Name is required
            </mat-error>

            <app-form-field label="Email" formControlName="email" placeholder="User email" type="email">
            </app-form-field>
            <mat-error *ngIf="registerControl('email').touched && registerControl('email').hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="registerControl('email').touched && registerControl('email').hasError('email')">
              Email is invalid
            </mat-error>

            <app-form-field label="Password" formControlName="password" placeholder="User password" type="password">
            </app-form-field>
            <mat-error *ngIf="registerControl('password').touched && registerControl('password').hasError('required')">
              Password is required
            </mat-error>

            <app-form-field label="Confirm Password" formControlName="confirmPassword" placeholder="User password"
              type="password">
            </app-form-field>
            <mat-error
              *ngIf="registerControl('confirmPassword').touched && registerControl('confirmPassword').hasError('required')">
              Confirm your password
            </mat-error>


            <div class="button-container">
              <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">
                Register
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
